/* DMS Matugen Zen Browser Theme */
:root {
  --zen-primary-color: #e9ddff !important;
  --toolbarbutton-icon-fill: #65558f !important;
  --toolbar-field-color: #1d1b20 !important;
  --tab-selected-textcolor: #65558f !important;
  --toolbar-color: #1d1b20 !important;
  --arrowpanel-color: #1d1b20 !important;
  --arrowpanel-background: #f2ecf4 !important;
  --sidebar-text-color: #1d1b20 !important;
/*  --zen-main-browser-background: #fdf7ff !important; */
}

.sidebar-placesTree {
  background-color: #f2ecf4 !important;
}

#zen-workspaces-button {
  background-color: #f2ecf4 !important;
}

#TabsToolbar {
  background-color: #fdf7ff !important;
}

.urlbar-background {
  background-color: #f2ecf4 !important;
}

.urlbar-input::selection {
  color: #ffffff !important;
  background-color: #65558f !important;
}

.urlbarView-url {
  color: #49454e !important;
}

toolbar .toolbarbutton-1 {
  &:not([disabled]) {
    &:is([open], [checked])
      > :is(
        .toolbarbutton-icon,
        .toolbarbutton-text,
        .toolbarbutton-badge-stack
      ) {
      fill: #65558f
    }
  }
}

.identity-color-blue {
  --identity-tab-color: #745fab !important;
  --identity-icon-color: #745fab !important;
}

.identity-color-turquoise {
  --identity-tab-color: #65558f !important;
  --identity-icon-color: #65558f !important;
}

.identity-color-green {
  --identity-tab-color: #138c1a !important;
  --identity-icon-color: #138c1a !important;
}

.identity-color-yellow {
  --identity-tab-color: #999621 !important;
  --identity-icon-color: #999621 !important;
}

.identity-color-orange {
  --identity-tab-color: #7f7d11 !important;
  --identity-icon-color: #7f7d11 !important;
}

.identity-color-red {
  --identity-tab-color: #a52b20 !important;
  --identity-icon-color: #a52b20 !important;
}

.identity-color-pink {
  --identity-tab-color: #513fff !important;
  --identity-icon-color: #513fff !important;
}

.identity-color-purple {
  --identity-tab-color: #3b2479 !important;
  --identity-icon-color: #3b2479 !important;
}

#zen-appcontent-navbar-container {
  background-color: #fdf7ff !important;
}
