/* DMS Matugen Zen Browser Theme */
:root {
  --zen-primary-color: #523c73 !important;
  --toolbarbutton-icon-fill: #d5bbfc !important;
  --toolbar-field-color: #e7e0e8 !important;
  --tab-selected-textcolor: #d5bbfc !important;
  --toolbar-color: #e7e0e8 !important;
  --arrowpanel-color: #e7e0e8 !important;
  --arrowpanel-background: #211e24 !important;
  --sidebar-text-color: #e7e0e8 !important;
/*  --zen-main-browser-background: #151218 !important; */
}

.sidebar-placesTree {
  background-color: #211e24 !important;
}

#zen-workspaces-button {
  background-color: #211e24 !important;
}

#TabsToolbar {
  background-color: #151218 !important;
}

.urlbar-background {
  background-color: #211e24 !important;
}

.urlbar-input::selection {
  color: #3a255b !important;
  background-color: #d5bbfc !important;
}

.urlbarView-url {
  color: #cbc4cf !important;
}

toolbar .toolbarbutton-1 {
  &:not([disabled]) {
    &:is([open], [checked])
      > :is(
        .toolbarbutton-icon,
        .toolbarbutton-text,
        .toolbarbutton-badge-stack
      ) {
      fill: #d5bbfc
    }
  }
}

.identity-color-blue {
  --identity-tab-color: #e4c8ff !important;
  --identity-icon-color: #e4c8ff !important;
}

.identity-color-turquoise {
  --identity-tab-color: #d5bbfc !important;
  --identity-icon-color: #d5bbfc !important;
}

.identity-color-green {
  --identity-tab-color: #86e08c !important;
  --identity-icon-color: #86e08c !important;
}

.identity-color-yellow {
  --identity-tab-color: #e8e797 !important;
  --identity-icon-color: #e8e797 !important;
}

.identity-color-orange {
  --identity-tab-color: #dbda7b !important;
  --identity-icon-color: #dbda7b !important;
}

.identity-color-red {
  --identity-tab-color: #e06b5f !important;
  --identity-icon-color: #e06b5f !important;
}

.identity-color-pink {
  --identity-tab-color: #8369c9 !important;
  --identity-icon-color: #8369c9 !important;
}

.identity-color-purple {
  --identity-tab-color: #a595bd !important;
  --identity-icon-color: #a595bd !important;
}

#zen-appcontent-navbar-container {
  background-color: #151218 !important;
}
