binds {
    Mod+Backspace hotkey-overlay-title="Lock Screen" {
        spawn "dms" "ipc" "call" "lock" "lock";
    }

    Mod+Space hotkey-overlay-title="Application Launcher" {
        spawn "dms" "ipc" "call" "spotlight" "toggle";
    }

    Mod+C hotkey-overlay-title="Clipboard Manager" {
        spawn "dms" "ipc" "call" "clipboard" "toggle";
    }

    Mod+Shift+C hotkey-overlay-title="Color Picker" { 
        spawn  "dms" "color" "pick" "-o" "'{0}{1}{2}'"; 
    }

    Mod+Shift+S hotkey-overlay-title="Toggle Dark/Light Style" { 
        spawn  "dms" "ipc" "call" "theme" "toggle"; 
    }
}
